[Unit]
Description=Morsianin Service
Requires=docker.service
After=docker.service
# тут нужно дождаться точки монтирования, иначе может быть перманетный блок загрузки, но пусть с этим ебутся другие

[Service]
Restart=always
WorkingDirectory=/path/to/your/project
ExecStart=/usr/bin/docker-compose up --build
ExecStop=/usr/bin/docker-compose down

[Install]
WantedBy=multi-user.target
